<posts posts="vm.posts" ng-show="vm.posts && vm.posts.length"></posts>
<a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-post"
  href="javascript:void(0)"
  ng-show="vm.isAuthenticated"
  ng-dialog="/static/templates/posts/new-post.html"
  ng-dialog-controller="NewPostController as vm"></a>
<a class="btn btn-primary btn-fab btn-raised mdi-action-open-in-browser btn-logout" ng-show="vm.isAuthenticated" href="/logout" ng-controller="NavbarController as vm" ng-click="vm.logout()"></a>