<div class="post">
    <!-- Post Title -->
    <h3 class="title"><a href="single.html">{{ post.subject }}</a></h3>
    <!-- Post Data -->
    <p class="sub">{{ post.author.username }} &bull; {{ post.created_at }} &bull; </p>
    <div class="hr dotted clearfix">&nbsp;</div>
    <!-- Post Image -->
    <img class="thumb" alt="" src="/static/images/610x150.gif" />
    <!-- Post Content -->
    <div class="post__content">
      {{ post.content }}
    </div>
    <p class="clearfix"><a href="#" class="button right"> Читать далее...</a></p>
</div>
<div class="hr clearfix">&nbsp;</div>