<div id="wrapper" class="container_12 clearfix">

    <!-- Catch Line and Link -->
        <h2 class="grid_12 caption clearfix">Наше <span>портфолио</span>, последние и самые лучшие работы.</h2>

    <div class="pr grid_12 clearfix">&nbsp;</div>

    <!-- Portfolio Items -->

    <!-- Section 1 -->

    <!-- Section 3 -->
    <div class="catagory_1 clearfix">
        <!-- Row 1 -->
        <div class="grid_3 textright" >
            <span class="meta">Cross-browser tested</span>
            <h4 class="title ">Web Design</h4>
            <div class="hr clearfix dotted">&nbsp;</div>
            <p>Cras vestibulum lorem et dui mollis sed posuere leo semper. Integer ac ultrices neque. Cras lacinia orci a augue tempor egestas. Sed cursus, sem ut vehicula vehicula, ipsum est mattis justo, at volutpat nibh arcu sit amet risus.</p>
        </div>
        <div class="grid_9">
            <a class="portfolio_item float alpha" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float " href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float omega" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float alpha" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float " href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float omega" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float alpha" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float " href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float omega" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
        </div>
    </div>

    <div class="pr clearfix grid_12">&nbsp;</div>

    <div class="catagory_1 clearfix">
        <!-- Row 1 -->
        <div class="grid_3 textright" >
            <span class="meta">Cross-browser tested</span>
            <h4 class="title ">Web Design</h4>
            <div class="hr clearfix dotted">&nbsp;</div>
            <p>Cras vestibulum lorem et dui mollis sed posuere leo semper. Integer ac ultrices neque. Cras lacinia orci a augue tempor egestas. Sed cursus, sem ut vehicula vehicula, ipsum est mattis justo, at volutpat nibh arcu sit amet risus.</p>
        </div>
        <div class="grid_9">
            <a class="portfolio_item float alpha" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float " href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float omega" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float alpha" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
        <div class="clear"></div>
        </div>
    </div>
    <div class="pr clearfix grid_12">&nbsp;</div>

    <div class="catagory_1 clearfix">
        <!-- Row 1 -->
        <div class="grid_3 textright" >
            <span class="meta">Cross-browser tested</span>
            <h4 class="title ">Web Design</h4>
            <div class="hr clearfix dotted">&nbsp;</div>
            <p>Cras vestibulum lorem et dui mollis sed posuere leo semper. Integer ac ultrices neque. Cras lacinia orci a augue tempor egestas. Sed cursus, sem ut vehicula vehicula, ipsum est mattis justo, at volutpat nibh arcu sit amet risus.</p>
        </div>
        <div class="grid_9">
            <a class="portfolio_item float alpha" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float " href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float omega" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
            <a class="portfolio_item float alpha" href="portfolio_single.html">
                <span>Project Name</span>
                <img class="" src="/static/images/223x112.gif"  alt=""/>
            </a>
        <div class="clear"></div>
        </div>
    </div>

</div><!--end wrapper-->